{{ define "content" -}}
{{ with .Data -}}
<p>Hi {{ .DisplayName }},</p>
<p>Click to reset your Folio password:</p>
<p><a href="{{ .ResetURL }}">Reset password</a></p>
<p>This link expires in {{ .ExpiresIn }}.</p>
<p>If you didn't ask for a reset, ignore this email.</p>
{{- end }}
{{- end }}
